[Potion]
Enabled=0
UsePercent=1
HPPercent=70
HPExact=1000
ItemIds=
CooldownMs=350

[State]
AutoBuff=0

[Special]
AutoTransform=0
AutoAntidote=0

[Extend]
AutoRepair=0
AutoFood=0
ShowClock=1
ShowDamage=0

[Timer]
Seconds=60
